<html>

<head>
    <title> Build: {{name}} </title>
    <link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.css">
    <script src= "https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".red").click(function () {
          $("#carImg").attr("src","https://vignette.wikia.nocookie.net/es.gta/images/9/95/DominatorGTX-GTAOnline.png/revision/latest?cb=20180326210952");
        })
        $(".blue").click(function () {
          $("#carImg").attr("src","https://vignette.wikia.nocookie.net/gtawiki/images/6/6c/Dominator-GTAV-front-MuscleModded1.png/revision/latest?cb=20181011165501");
        })
        $(".black").click(function () {
          $("#carImg").attr("src","https://www.gta5rides.com/vehicleImages/cropped/dominator.jpg.jpg");
        })
        $(".white").click(function () {
          $("#carImg").attr("src","https://vignette.wikia.nocookie.net/gtawiki/images/f/f6/VapidDominator-GTAV-Front.png/revision/latest?cb=20141015220006");
        })
      })
    </script>
    <style>
      .spacer{
        height:55px;
      }
      #topContainer{
        text-align: center;
        margin: auto;
        background-color: white;
        border-radius: 15px;
        -moz-border-radius: 15px;
        border: 2px solid transparent;
        width: 90%;
      }
      h1{
        font-family: serif;
        text-align: center;
      }

      /* colors */
      .red{
        background-color: #e63746;
      }
      .blue{
        background-color: #324ff0;
      }
      .black{
        background-color: #211f1f;
      }
      .white{
        background-color: #f5eded;
        color: black;
      }


      #editor{
        margin:auto;
        padding: 5px;
        height: 140.5%;
        width: 90%;
        border-radius: 15px;
        -moz-border-radius: 15px;
        border: 2px solid black;
      }

      #carLeft{
        border: 5px solid transparent;
        position: absolute;
        float:left;
        width: 60%;
        height:70%;
        border-radius: 15px;
        -moz-border-radius: 15px;
      }
      #carImg{
        width:100%;
        height:100%;
        border-radius: 15px;
        -moz-border-radius: 15px;     
        border: 2px solid transparent;
      }

      #carRight{
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        border-left: 80% solid transparent;
        margin-top: 2%;
        margin-left: 70%;
        padding-top: 200px;
        float:left;
        width: 60%;
        height:100%;
        border-radius: 15px;
        -moz-border-radius: 15px;
      }

      #carAtt p{
        border-left: 100px;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 15px;
      }

      #carAtt{
        float:left;
        padding-left: 3px;
        width: 300px;
        height: 90%;
      }


      /* order button*/
      #order{
        height: 50px;
        width: 270px;
        font-size: 25px;
        float: left;
      }

      /* 
      white: https://vignette.wikia.nocookie.net/gtawiki/images/f/f6/VapidDominator-GTAV-Front.png/revision/latest?cb=20141015220006;
      red:  https://vignette.wikia.nocookie.net/es.gta/images/9/95/DominatorGTX-GTAOnline.png/revision/latest?cb=20180326210952 ;
      black: https://www.gta5rides.com/vehicleImages/cropped/dominator.jpg.jpg; 
      */
    </style>
    
</head>

<body>
    
    <header> {{> header}} </header>

    <div class="spacer">
    </div>
    <div class="spacer">
    </div>

    <div id="topContainer">
      <h1> Design your car </h1>  

        {{!-- <button type="button" class="btn btn-secondary red">Red</button>
        <button type="button" class="btn btn-secondary blue">Blue</button>
        <button type="button" class="btn btn-secondary black">Black</button>
        <button type="button" class="btn btn-secondary white">White</button>

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#" selected>Dropdown</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
          </div>
        </div> --}}

    </div>

    {{!-- <div class="spacer">
    </div> --}}

    <div id="editor">
      <div id="carLeft">
        <img id= "carImg" src="{{imgLink}}">
        <img id= "carImg" src="{{optionImg}}">
      </div>
      <div id="carRight">
        <div id="carAtt">
          <p> Name: {{name}}</p>
          <p> Brand: {{brand}}</p>
          <p> Class: {{carClass}}</p>
          <p> Body Style: {{bodyStyle}}</p>
          <p> Capacity: {{capacity}} people</p>
          <p> Price: ${{price}}</p>
          <br>
          <button type="button" class="btn btn-success" id = "order" >Purchase</button>
        </div>
      </div>
    </div>

</body>

</html>