<html>
<head>
    <title> Register </title>
    <link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.css">
    <script src = "https://code.jquery.com/jquery-3.4.1.min.js" type = "text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/register.js" type="text/javascript" ></script>
    <script src="/js/validator.min.js" type="text/javascript"></script>
    <style>
      .spacer {
        height: 100px;
      }
        
        body {
            background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-dark-pastel-blue-solid-color-background.jpg");
        }
        
        table {
            background-color: white;
        }
    </style>
    
</head>

<body class = "p-3 mb-2 bg-light text-dark">
    
    {{> header flag=flag uName=uName}}
    
    <div class = "spacer"></div>

    <div class = "container rounded-lg p-3 mb-2 bg-light text-dark">
        <form id="signup" method="post">
          <div class='form-group'>

            <label for="fname">First Name: </label> 
            <input class="form-control" type="text" id="fname" name="fname"> 
            <small class="form-text text-muted" id="fnameError">{{fnameError}}</small> 

          </div>

          <div class='form-group'>
            
            <label for="lname">Last Name: </label> 
            <input class="form-control" type="text" id="lname" name="lname"> 
            <small class="form-text text-muted" id="lnameError">{{lnameError}}</small> 

          </div>

          <div class='form-group'>
            
            <label for="username">Username: </label> 
            <input class="form-control" type="text" id="username" name="username">
            <small class="form-text text-muted" id="usernameError">{{usernameError}}</small> 

          </div>

          <div class='form-group'>

            <label for="pw">Password: </label> 
            <input class="form-control" type="password" id="pw" name="pw"> 
            <small class="form-text text-muted" id="pwError">{{pwError}}</small> 
            
          </div>

          <div class='form-group'>

            <label for="email">Email: </label> 
            <input class="form-control" type="text" id="email" name="email"> 
            <small class="form-text text-muted" id="emailError">{{emailError}}</small> 
            
          </div>

          <div class='form-group'>
            
            <label for="bDay">Birthday: </label> 
            <input class="form-control" type="date" id="bday" name="bDay">  

          </div>

          <div class='form-group'>
            
            <label for="ccNo">Credit Card Number: </label> 
            <input class="form-control" size="16" maxlength="16" type="text" id="ccNo" name="ccNo"> 
            <small class="form-text text-muted" id="ccNoError">{{ccNoError}}</small> 

          </div>

          <div class='form-group'>
            
            <label for="ccExp">Credit Card Expiration Date: </label> 
            <input class="form-control" size="5" maxlength="4" type="text" id="ccExp" name="ccExp"> 
            <small class="form-text text-muted" id="ccExpError">{{ccExpError}}</small> 

          </div>

          <div class='form-group'>
            
            <label for="ccPin">Credit Card PIN: </label> 
            <input class="form-control" size="4" maxlength="3" type="text" id="ccPin" name="ccPin"> 
            <small class="form-text text-muted" id="ccPinError">{{ccPinError}}</small> 

          </div>

          <div class='form-group'>
            
            <label for="dlNo">Driver's License Number: </label> 
            <input class="form-control" type = "text" id = "dlNo" name="dlNo"> 
            <small class="form-text text-muted" id="dlNoError">{{dlNoError}}</small> 

          </div>

          <div class='form-group'>
            
            <label for="dlStart">Driver's License Issue Date: </label> 
            <input class="form-control" type = "date" id = "dlStart" name="dlStart">  

          </div>

          <div class='form-group'>
            
            <label for="dlExp">Driver's License Expiry Date: </label> 
            <input class="form-control" type = "date" id = "dlExp" name="dlExp">  

          </div>

          <input type="submit" id="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
          
        </form>
    </div>
  </body>
</html>