<html>
<head>
    <title> Register </title>
    <link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.css">
    <script src = "https://code.jquery.com/jquery-3.4.1.min.js" type = "text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/register.js" type="text/javascript" ></script>
    <script src="/js/validator.min.js" type="text/javascript"></script>
    <style>
      .spacer {
        height: 100px;
      }
        
        body {
            background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-dark-pastel-blue-solid-color-background.jpg");
        }
        
        table {
            background-color: white;
        }
    </style>
    
</head>

<body class = "p-3 mb-2 bg-light text-dark">
    
    {{> header}}
    
    <div class = "spacer"></div>

    <div class = "container">
        <form id="signup" method="post">
            
          <label for="fname">First Name: </label>
          <input type="text" id="fname" name="fname"> <br>
          <p id="fnameError">{{fnameError}}</p> <br>
      
      
          <label for="lname">Last Name: </label>
          <input type="text" id="lname" name="lname"> <br>
          <p id="lnameError">{{lnameError}}</p> <br>
      
      
          <label for="username">Username: </label>
          <input type="text" id="username" name="username"><br>
          <p id="usernameError">{{usernameError}}</p> <br>
      
      
          <label for="pw">Password: </label>
          <input type="password" id="pw" name="pw"> <br>
          <p id="pwError">{{pwError}}</p> <br>
      
          <label for="email">Email: </label>
          <input type="text" id="email" name="email"> <br>
          <p id="emailError">{{emailError}}</p> <br>
      
      
          <label for="bDay">Birthday: </label>
          <input type="date" id="bday" name="bDay"> <br> <br>
      
      
          <label for="ccNo">Credit Card Number: </label>
          <input size="16" maxlength="16" type="text" id="ccNo" name="ccNo"> <br>
          <p id="ccNoError">{{ccNoError}}</p> <br>
      
      
          <label for="ccExp">Credit Card Expiration Date: </label>
          <input size="5" maxlength="4" type="text" id="ccExp" name="ccExp"> <br>
          <p id="ccExpError">{{ccExpError}}</p> <br>
      
      
          <label for="ccPin">Credit Card PIN: </label>
          <input size="4" maxlength="3" type="text" id="ccPin" name="ccPin"> <br>
          <p id="ccPinError">{{ccPinError}}</p> <br>
      
      
          <label for="dlNo">Driver's License Number: </label>
          <input type = "text" id = "dlNo" name="dlNo"> <br>
          <p id="dlNoError">{{dlNoError}}</p> <br>
      
      
          <label for="dlStart">Driver's License Issue Date: </label>
          <input type = "date" id = "dlStart" name="dlStart"> <br> <br>
      
      
          <label for="dlExp">Driver's License Expiry Date: </label>
          <input type = "date" id = "dlExp" name="dlExp"> <br> <br>
          <input type="submit" id="submit" class="btn btn-primary" value="SUBMIT">

        </form>

    </div>
  </body>
</html>