<html>

<head>
    <title>{{uName}}'s Profile </title>
    <link rel = "stylesheet" type = "text/css" href = "/css/bootstrap.css">
    <script src = "https://code.jquery.com/jquery-3.4.1.min.js" type = "text/javascript">
      /* INSERT CODE HERE */
    </script>
    <style>

      .capsule {
        border: 2px solid transparent;
        height: 305px;
        width: 100%;
        border-radius: 15px;
        -moz-border-radius: 15px;
        background-color: transparent;
      }

      .capsuleLeft {
        width: 300px;
        height: auto;
        border-radius: 15px;
        -moz-border-radius: 15px;
      }

      .capsuleRight {
        padding: 10px;
        width: auto;
        border-radius: 15px;
        -moz-border-radius: 15px;
        font-family: sans-serif;
        font-size: 20px;
        margin-bottom: 0em;
      }

      .info {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 0em;
      }

      .information {
        float: left;
        padding-left: 3px;
        width: 300px;
        height: 245px;
      }

      .profile {
        padding: 5px;
        float: left;
        height: 300px;
        width: 300px;
        margin-right: 5px;
      }

      .profilePicture {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .spacer {
        height: 100px;
      }
        
      body {
          background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-dark-pastel-blue-solid-color-background.jpg");
          background-size: cover;
          background-position: center;
      }
    </style>
    
</head>

<body class="p-3 mb-2 bg-light text-dark">
    
  {{> header}}

  <div class="spacer">
  </div>

  <div class="container rounded-lg p-3 mb-2 bg-light text-dark">

      <div class = "jumbotron">
    
      {{!-- <p id = "favoriteCar"></p>
      <label for = "favorite"> What is your favorite car?: </label>
      <input type = "text" id = "favorite" name = "favorite">
      <button id = "submit" class = "btn btn-primary"> Submit </button><br> --}}

      {{#if_eq uName "admin"}}

        <h1 class="display-4">Admin</h1>

        <hr class="my-4">

        <a class="btn btn-primary btn-lg" href="/addcar" role="button">Add a Car</a>
        <a class="btn btn-primary btn-lg" href="/chooseUpdate" role="button">Update a Car</a>
        <a class="btn btn-primary btn-lg" href="/delete" role="button">Delete a Car</a>

      {{else}}

        <h1 class="display-4">{{fName}} {{lName}}</h1>
        <small class="text-muted">{{uName}}</small>

        <hr class="my-4">

        <p class="lead">Birthday: {{bDay}}</p>
        <p class="lead">Email: {{email}}</p>

      {{/if_eq}}
          
    </div>
  </div>
  

    <script type = "text/javascript">
      $("#submit").click(function() {
        
        $("#favoriteCar").text("My favorite car is the " + $("#favorite").val());
      });
    </script>

  </body>

</html>